[submodule "edk2"]
	path = edk2
	url = https://github.com/bianbu-maker/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/bianbu-maker/edk2-platforms.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "dts"]
	shallow = true
	path = dts
	url = https://git.kernel.org/pub/scm/linux/kernel/git/devicetree/devicetree-rebasing.git
